In [59]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [60]:
db_config = {'host': 'localhost', 'user': 'root', 'password': 'kenyan23'}

In [61]:
try:
    connection = mysql.connector.connect(**db_config)
    if connection.is_connected():
        print("connected to server successfully")
except Error as err:
    print(f"Error: '{err}'")

connected to server successfully

In [62]:
def execute_query(query):
    cursor = connection.cursor()
    cursor.execute(query, multi=True)
    for result in cursor:
        pass  # Consume the result set
    connection.commit()
    print("Query executed Successfully!")
    cursor.close()

In [63]:
file = open("database.sql", "w")
create_db = """-- Creating database named edu_institute if not exists

CREATE DATABASE IF NOT EXISTS edu_institute;"""
execute_query(create_db)
file.write(create_db)
file.close()

Query executed Successfully!

In [64]:
file = open("database.sql", "a")
use_db = """

-- Using the database to create a table named students
USE edu_institute;
"""
create_table_in_db = """-- Create table students
CREATE TABLE IF NOT EXISTS students (
	student_id INT PRIMARY KEY,
	name VARCHAR(50),
	age INT,
	gender CHAR(1),
	enrollment_date DATE,
	program VARCHAR(50)
);
    """
execute_query(use_db)
execute_query(create_table_in_db)
file.write(use_db)
file.write(create_table_in_db)
file.close()

Query executed Successfully!
Query executed Successfully!

In [ ]:
file = open("database.sql", "a")
insert_data_to_columns = """
-- Altering the table to add data into the columns
INSERT INTO students VALUES
	(1, "Linda Sumbati", 25, "F", "2022-03-04", "Computer Science"),
    (2, "Sharon Cherop", 26, "F", "2022-03-04", "Data Science"),
    (3, "Benedict Njue", 24, "M", "2022-03-04", "Data Science"),
    (4, "Dabraham Immorah", 23, "M", "2022-03-04", "Software Engineering"),
    (5, "Dan Njuguna", 22, "M", "2022-03-04", "Cloud Security");
"""
execute_query(insert_data_to_columns)
file.write(insert_data_to_columns)
file.close()

In [ ]:
file = open("database.sql", "a")
query_data = """
-- a query to select all columns for all students in the "Data Science" program.
SELECT * FROM students WHERE program = "Data Science";
"""
execute_query(query_data)
file.write(query_data)
file.close()
query = "SELECT * FROM edu_institute.students WHERE program = 'Data Science';"
df = pd.read_sql(query, connection)
print(df)

Query executed Successfully!
   student_id           name  age gender enrollment_date       program
0           2  Sharon Cherop   26      F      2022-03-04  Data Science
1           3  Benedict Njue   24      M      2022-03-04  Data Science

/tmp/ipykernel_11677/343011194.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

In [67]:
file = open("database.sql", "a")
student_count = """
-- a query to find the total number of students and display it as Total Students.
SELECT COUNT(*) AS "Total Students" FROM students;
"""
execute_query(student_count)
file.write(student_count)
file.close()
query = "SELECT COUNT(*) AS 'Total Students' FROM edu_institute.students;"
df = pd.read_sql(query, connection)
print(df)

Query executed Successfully!
   Total Students
0               5

/tmp/ipykernel_11677/238736822.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

In [68]:
file = open("database.sql", "a")
today_date = """
-- Function Usage
-- Function to display todays date in a column named Today's Date
SELECT CURRENT_DATE() AS "Today's Date";
"""
execute_query(today_date)
file.write(today_date)
file.close()
query = "SELECT CURRENT_DATE() AS 'Today''s Date';"
df = pd.read_sql(query, connection)
print(df)

Query executed Successfully!
  Today's Date
0   2024-03-15

/tmp/ipykernel_11677/1397411906.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

In [69]:
file = open("database.sql", "a")
uppercase_name = """
--  a query to select the student names and their enrolment dates, but display the name column in uppercase
SELECT UPPER(name) AS name, enrollment_date FROM students;
"""
execute_query(uppercase_name)
file.write(uppercase_name)
file.close()
query = "SELECT UPPER(name) AS name, enrollment_date FROM edu_institute.students;"
df = pd.read_sql(query, connection)
print(df)

Query executed Successfully!
               name enrollment_date
0     LINDA SUMBATI      2022-03-04
1     SHARON CHEROP      2022-03-04
2     BENEDICT NJUE      2022-03-04
3  DABRAHAM IMMORAH      2022-03-04
4       DAN NJUGUNA      2022-03-04

/tmp/ipykernel_11677/550626356.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

In [75]:
file = open("database.sql", "a")
no_of_students = """
-- a query to count the number of students in each program and display the results in descending order of count. Name the count column as Number of Students
SELECT program, COUNT(*) AS "Number of Students" 
FROM students
GROUP BY program
ORDER BY COUNT(*) DESC;
"""
execute_query(no_of_students)
file.write(no_of_students)
file.close()
query = """SELECT program, COUNT(*) AS "Number of Students" 
FROM edu_institute.students
GROUP BY program
ORDER BY COUNT(*) DESC;"""
df = pd.read_sql(query, connection)
print(df)

Query executed Successfully!
                program  Number of Students
0          Data Science                   2
1      Computer Science                   1
2  Software Engineering                   1
3        Cloud Security                   1

/tmp/ipykernel_11677/1475099891.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

In [76]:
file = open("database.sql", "a")
youngest_student = """
-- a query to find the youngest student's name and age.
SELECT name, age
FROM students
ORDER BY age ASC
LIMIT 1;
"""
execute_query(youngest_student)
file.write(youngest_student)
file.close()
query = """SELECT name, age
FROM edu_institute.students
ORDER BY age ASC
LIMIT 1;"""
df = pd.read_sql(query, connection)
print(df)

Query executed Successfully!
          name  age
0  Dan Njuguna   22

/tmp/ipykernel_11677/55818845.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

In [77]:
query = "SELECT * FROM edu_institute.students;"
df = pd.read_sql(query, connection)
print(df)

   student_id              name  age gender enrollment_date  \
0           1     Linda Sumbati   25      F      2022-03-04
1           2     Sharon Cherop   26      F      2022-03-04
2           3     Benedict Njue   24      M      2022-03-04
3           4  Dabraham Immorah   23      M      2022-03-04
4           5       Dan Njuguna   22      M      2022-03-04

                program
0      Computer Science
1          Data Science
2          Data Science
3  Software Engineering
4        Cloud Security

/tmp/ipykernel_11677/3934281390.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)